<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="{% static 'css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/self.css'%}">
     
    <title>Document</title>

</head>
<body>
  <div class="container-fluid text-center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-20">
        <a class="navbar-brand" href="#">PriceHunter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    
</div>


      <div class="container searchbox">
        
        <div class="row">
          <div class="col-3">
            <a class="btn btn-info btn-lg btn-block mt-3" href={% url 'sellerprofile' request.user.id %} role="button">Profile</a>
            <a class="btn btn-info btn-lg btn-block mt-3" href={% url 'sellerupload' %} role="button">Upload</a>
            <a class="btn btn-info btn-lg btn-block mt-3" href={% url 'sellerproductlist' %} role="button">My product list</a>
            <a class="btn btn-info btn-lg btn-block mt-3" href={% url 'logoutview' %} role="button"> Log out </a>
          </div>
            <div class="col-2">
            </div>
            <div class="col-6">
                <h1 class="display-5 text-center">Update your product </h1>
                {% with my_tuple=productresult.0 %}



                <form action="{% url 'sellerproductdetailupdate' my_tuple.0 %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">

                      
                          <label for="name">Name: </label>
                          <input type="text" class="form-control" id="name" name="name" value={{ my_tuple.1 }} aria-describedby="search name" placeholder="Enter product name">

                          <label for="origin">Origin: </label>
                          <input type="text" class="form-control" id="origin" name="origin" value={{ my_tuple.2 }} aria-describedby="origin" placeholder="Enter product origin">

                          <label for="platform">Platform: </label>
                          <input type="text" class="form-control" id="platform" name="platform" value={{ my_tuple.3 }} aria-describedby="platform" placeholder="Enter platform name">
                          {% endwith %}
                          {% with my_tuple_price=priceresult.0 %}
                          <label for="price">Price:  </label>
                          <input type="text" class="form-control" id="price" name="price" value={{ my_tuple_price.2 }} aria-describedby="price" placeholder="Enter product price">
                          {% endwith %} 
                      

                      
                    </div>
                  
 
                  
                        
                        <button type="submit" class="btn btn-info btn-lg btn-block mt-3">Update</button>
                </form>
            
                        
            </div>
            <div class="col-3">

            </div>
        </div>
        <div class="row">
        </div>
        {% comment %} <div class="row">
            <div class="col-3">
                1 of 2
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Block level button</button>
            
            </div>
            <div class="col-3">

            </div>
        </div>
         {% endcomment %}
      </div>

    <script src="{% static 'js/jquery.js'%}"></script>  
    <script src="{% static 'js/popper.js'%}"></script>  
    <script src="{% static 'js/all.min.js'%}"></script> 
    <script src="{% static 'js/bootstrap.js'%}"></script>  
</body>
</html>