<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="{% static 'css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/self.css'%}">
     
    <title>Document</title>

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top fixed-top mb-20">
        <a class="navbar-brand" href="#">PriceHunter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>        
    </div>
      

      <div class="container searchbox">
        
        <div class="row">
            <div class="col-3">
            
            </div>


            <div class="col-6">
                <h2>Log In</h2>
                <form action="{% url 'userlogin' %}" method="POST" >
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}<br>
                        {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small> <br>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    <button type="submit" class="btn btn-info">Log In</button>
                    
                    
                </form>

                <br><a href = {% url 'signup' %}> <button type="button" class="btn btn-success">Sign up</button></a>                 
            </div>
            
            <div class="col-3">

            </div>
        </div>
        <div class="row">
        </div>
        {% comment %} <div class="row">
            <div class="col-3">
                1 of 2
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Block level button</button>
            
            </div>
            <div class="col-3">

            </div>
        </div>
         {% endcomment %}
      </div>

    <script src="{% static 'js/jquery.js'%}"></script>  
    <script src="{% static 'js/popper.js'%}"></script>  
    <script src="{% static 'js/all.min.js'%}"></script> 
    <script src="{% static 'js/bootstrap.js'%}"></script>  
</body>
</html>
